@media only screen and (max-width: 576px){

    .D-none{
        display: none;
    }

    /* navigation */

    nav {
        padding: 0 10px;
        margin: 15px auto;
    }

    /* Banner section */

    .banner-section {
       flex-direction: column-reverse;
       justify-content: right;
       margin-bottom: 30px;
    }
    .banner-section img{
        width: 70%;
    }
    .banner-section div{
        width: 100%;
        margin-top: 30px;
        padding: 0 20px;
        
    }
    .banner-section div h1{
        font-size: 25px;
    }
    .banner-section div p{
        font-size: 14px;
    }

    /* Plants section  */

    .plants-section {
        width: 300px;           
    }

  .cards {
    grid-template-columns: repeat(2, 140px);
    justify-content: center;    
  }
}