@media only screen and (max-width: 576px){

    .D-none{
        display: none;
    }

    /* navigation */

    nav {
        padding: 0 10px;
        margin: 15px auto;
    }

    /* Banner section */

    .banner-section {
       flex-direction: column-reverse;
       justify-content: right;
       margin-bottom: 30px;
    }
    .banner-section img{
        width: 70%;
    }
    .banner-section div{
        width: 100%;
        margin-top: 30px;
        padding: 0 20px;
        
    }
    .banner-section div h1{
        font-size: 25px;
    }
    .banner-section div p{
        font-size: 14px;
    }

    /* Plants section  */

    .plants-section {
        width: 300px;           
    }

  .cards {
    grid-template-columns: repeat(2, 140px);
    justify-content: center;    
  }

/* Plants Lover Section */
    .paint-lover{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center; 
    width: 90%;
    margin: 0px auto;
    padding: 0;
   }
.lovers-text{
    margin: 15px 0 0 0;
    padding: 0;
}
.lovers-text h1{
    font-size: 24px;
}
.lovers-text ul li{
    font-size: 14px
}
.ps-sec {
    margin-top: 0;
}
.sound-section{
    display: block;
    
}
.sound-section img{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}


.email, input, button{
    width: 100%;
}

.email-input h1{
    font-size: 20px;
}
}